{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}


{% endblock %}

{% block content %}

    <h1>Личная страница пользователя {{ object }}</h1>

    {% if user_obj.avatar %}

        <img class="avatar" src="{{ user_obj.avatar.url }}" width="250" height="250" alt="user picture">

    {% endif %}
    <img src='{{ user_obj.image.url }}' style="width: 100px">
    <p>Имя пользователя: {{ user_obj.username }} </p>

    <p>Имя: {{ user_obj.first_name }}</p>

    <p>Фамилия: {{ user_obj.last_name }}</p>

    <p>Почта: {{ user_obj.email }}</p>

    <p>Пол: {{ user_obj.gender }}</p>

    <p>Понравившиеся посты {{ user_obj.liked_posts.count }}
    
    {% comment %} <p>Подписки {{ user_obj.subscriptions.count }} {% endcomment %}
    
    <p>Публикации {{user_obj.posts.count }}
    
    {% comment %} <div>
        {% include 'partial/subscription.html'  with action_url="" form_method="post" %}
    </div> {% endcomment %}



    <h2 class="text-center clear">Photos:</h2>
        {% for photo in photos %}
            <div>
                <p>Post</p>
                <img src='{{ photo.image.url }}' style="width: 50px">
                <p>{{ photo.sign }}</p>
                <p>{{ photo.created_at }}</p>
            </div>
        {% endfor %}


{% endblock %}